.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  
  .navbar-nav {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  .navbar-text{
    color: white !important;
  }
  .me-auto {
    margin-right: auto!important;
    color: white !important;
  }