.search-results{
    text-align: center;
    padding: 5px;
       
}
.search-box{
    border: 1px solid rgb(115, 115, 248);
    width: 400px;
    height: 150px;
    margin: 0 auto;  
    border-radius: 25px;
    background: #1b438ed2;
     
}
.search-box:hover{
    background: rgb(16, 120, 225);
}

.search-results-for{
    text-align: center;

}